In [374]:
import pandas as pd

In [370]:
stock_no = '2330.TW'
start_date = '2018-01-03'
end_date = '2018-03-30'

In [372]:
# 抓取股價的位置
url = 'https://www.investopedia.com/markets/api/partial/historical/?Symbol=%s&Type=Historical+Prices&Timeframe=Daily&StartDate=%s&EndDate=%s' % (stock_no,start_date,end_date)

In [373]:
# 抓取歷史股價
df = pd.read_html(url)[0]
# 修改欄位名稱
df.columns = df.loc[0]

In [375]:
# 移除無意義的資料
df = df[df['Volume'].notnull()]
# 刪除第一列多餘的欄位名稱
df = df[1::]
# 重新排列index
df.index = range(len(df))

In [377]:
df.head(5)

0          Date    Open    High     Low Adj. Close    Volume
0  Jan 03, 2018  227.70  229.63  227.22     228.67  31706091
1  Jan 04, 2018  231.56  231.56  228.18     231.08  29179613
2  Jan 05, 2018  231.56  231.56  229.63     231.56  23721255
3  Jan 08, 2018  233.49  233.97  232.04     233.49  21846692
4  Jan 09, 2018  233.49  233.49  231.08     233.49  19043123

In [378]:
# 函數化
def his_price(stock_no, start_date, end_date):
    url = 'https://www.investopedia.com/markets/api/partial/historical/?Symbol=%s&Type=Historical+Prices&Timeframe=Daily&StartDate=%s&EndDate=%s' % (stock_no,start_date,end_date)
    df = pd.read_html(url)[0] #抓取歷史股價
    df.columns = df.loc[0] #修改欄位名稱
    df = df[df['Volume'].notnull()] # 移除無意義的資料
    df = df[1::] # 刪除第一列多餘的欄位名稱
    df.index = range(len(df)) # 重新排列index
    return df

In [381]:
x = his_price('2882.TW','2018-12-01','2018-12-20')

In [384]:
x

0           Date   Open   High    Low Adj. Close    Volume
0   Dec 03, 2018  49.00  49.20  49.00      49.10  12083787
1   Dec 04, 2018  48.10  48.95  48.10      48.95  18805984
2   Dec 05, 2018  48.45  48.80  48.15      48.40  13838673
3   Dec 06, 2018  48.40  48.45  47.95      48.25  16154988
4   Dec 07, 2018  48.45  48.45  48.00      48.15   8832132
5   Dec 10, 2018  47.60  47.80  47.50      47.60  11678578
6   Dec 11, 2018  47.55  47.75  47.45      47.60  11154995
7   Dec 12, 2018  47.95  48.00  47.20      47.50  31628358
8   Dec 13, 2018  47.65  48.25  47.60      48.25  14023699
9   Dec 14, 2018  47.90  47.90  47.55      47.55  18828400
10  Dec 17, 2018  47.85  47.95  47.55      47.70   7698528
11  Dec 18, 2018  47.50  47.60  47.10      47.20  15003190
12  Dec 19, 2018  47.45  47.45  46.80      47.25  13871924
13  Dec 20, 2018  47.25  47.70  46.90      47.00  14649780